body {
  background-image: url("image/Larisa Latynina - Gymnast.png");  
  background-size: cover;
}

.logo {
  width: 120px;
  transform-style: preserve-3d;
  animation: rotationLogo 8s infinite linear;
  position: absolute;
  top: 5px;   
  left: 20px;
}

@keyframes rotationLogo {
  from { transform: rotateY(0deg); }
  to   { transform: rotateY(360deg); }
}

.slider-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("images/image1.png");  
  background-repeat: no-repeat; 
  background-size: cover;
}

