body {
  background-image: url("https://www.bing.com/ck/a?!&&p=57339c07f25f74a0b922e25e25b6745335a06afcd9229eda0754db57a512edd8JmltdHM9MTc3MzYxOTIwMA&ptn=3&ver=2&hsh=4&fclid=3a1bae3e-8b99-61c6-2e7b-b8da8a7d6026&u=a1L2ltYWdlcy9zZWFyY2g_cT1pbWFnZStkZStneW1uYXNlJmlkPThCNEE5NjI1NjE3MUMyRDgxRDJDNUNGQkM4NERBRDdCMkQxMTM3OEEmRk9STT1JUUZSQkE");  
  background-size: cover;
}

.logo {
  width: 120px;
  transform-style: preserve-3d;
  animation: rotationLogo 8s infinite linear;
  position: absolute;
  top: 5px;   
  left: 20px;
}

@keyframes rotationLogo {
  from { transform: rotateY(0deg); }
  to   { transform: rotateY(360deg); }
}

.slider-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("images/image1.png");  
  background-repeat: no-repeat; 
  background-size: cover;
}

